/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafb;
    --red: #ea6767;
    --orange: #e69839;
    --green: #2c7b90;
    --urgent: #f35b4d;
    --daily: #ffb74d;
    --monthly: #e6f07e;
}

body {
    background: linear-gradient(to bottom, var(--red), var(--orange));
    min-height: 100vh;
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 80%;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* PERFIL */
.perfil h1 {
    color: var(--white);
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}

#fecha {
    color: var(--white);
    padding: 50px 0 5px 0px;
}

/* AGREGAR TAREA */
.agregar-tarea {
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 20px 0;
}

.agregar-tarea input {
    flex: 1;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}

.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--red);
}

.agregar-tarea select {
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--red);
    font-size: 1rem;
}

.agregar-tarea i {
    font-size: 50px;
    color: var(--red);
}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* BUSCAR TAREA */
.buscar-tarea {
    margin-bottom: 20px;
    text-align: center;
}

.buscar-tarea select {
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--red);
    font-size: 1rem;
}

/* SECCION DE TAREA */
.seccion-tarea h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;
}

.seccion-tarea li.bg-urgente {
    background-color: var(--urgent);
}

.seccion-tarea li.bg-diaria {
    background-color: var(--daily);
}

.seccion-tarea li.bg-mensual {
    background-color: var(--monthly);
}

.seccion-tarea i {
    font-size: 20px;
}

.seccion-tarea i:hover {
    color: var(--orange);
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
    color: var(--orange);
}

/* INFO COLORES */
.info-colores {
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}

.info-colores h3 {
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
}

.info-colores ul {
    list-style: none;
    padding: 0;
}

.info-colores li {
    color: var(--red);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-colores span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-urgente {
    background-color: var(--urgent);
}

.color-diaria {
    background-color: var(--daily);
}

.color-mensual {
    background-color: var(--monthly);
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .agregar-tarea {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .agregar-tarea input,
    .agregar-tarea select {
        width: 100%;
        margin-bottom: 10px;
    }

    .agregar-tarea i {
        align-self: center;
    }

    .buscar-tarea select {
        width: 100%;
    }

    .seccion-tarea h3 {
        text-align: center;
    }

    .seccion-tarea li {
        flex-direction: column;
        align-items: flex-start;
    }

    .seccion-tarea i {
        align-self: flex-end;
        margin-top: 10px;
    }
}